[tool.black]
line-length = 100
target-version = ['py311']

[tool.ruff]
line-length = 100
select = ["E", "F", "W", "B", "I"]
ignore = ["E501"]

[tool.ruff.per-file-ignores]
"backend/tests/**" = ["S101"]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
strict = true
warn_unused_ignores = true
warn_return_any = true
warn_unused_configs = true
